h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-block: 2rem;
}

.game-one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#reset-btn {
  background-color: #bbb;
  border-radius: 8px;
  padding-block: 1rem;
  padding-inline: 1.8rem;
  font-weight: bold;
}

#game-container {
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #999;
}

.game-item {
  background-color: #bbb;
  border: 2px solid #ddd;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
}
