h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0.5rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.game-two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#game-container {
  background-color: #ddd;

  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #999;
}

.game-item {
  background-color: #bbb;
  border: 2px solid #ddd;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 8px;
  /* 3d翻牌設定 */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* 3d翻牌設定 */
/* .game-item:hover {
  transform: rotateY(180deg);
} */

/* 3d翻牌設定 */
.game-item.flip {
  transform: rotateY(180deg);
}

/* 3d翻牌設定 */
.front,
.back {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

/* 3d翻牌設定 */
.back {
  transform: rotateY(180deg);
}

#reset-btn {
  background-color: #bbb;
  border-radius: 8px;
  padding-block: 1rem;
  padding-inline: 1.8rem;
  font-weight: bold;
}
